.constructor-container {
    display: grid;
    grid-gap: 18px;
    max-height: 300px;
}

.constructor-wrapper {
    display: grid;
    grid-gap: 16px;
    min-height: 500px;
}

.list {
    overflow: auto;
}

.order-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
