.root {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.title-center {
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.link-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
}

.link {
    composes: link from '../components/common/common.module.css';
}

.text-center {
    composes: text-center from '../components/common/common.module.css';;
}
