.menu-container {
    display: flex;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: calc(var(--max-content-width) + 40px);
}

.header-root {
    display: grid;
    justify-content: center;
}

.login {
    justify-self: end;
}

